#main-nav .panel-title{ font-weight: normal;}
#main-nav .accordion-header-selected{ background: #f3f3f3; }
#main-nav .accordion-header-selected .panel-title{ font-weight: bold;color: #575765;}
#main-nav .tree-icon { margin-top: 9px; }
#main-nav .tree-hit { margin-top: 4px; }
#main-nav .tree-node { height: 35px; }
#main-nav .tree-title { line-height: 35px; }

/*表单*/
.formTable table {
	width: 100%;
	border-collapse: collapse;
}
.formTable table th,
.formTable table td {
	font-size: 12px;
	text-align: left;
	padding: 5px 10px;
	vertical-align: middle;
	border: 1px solid #fff;
}
.formTable table th {
	background-color: #eee;
	text-align: right;
	font-weight: normal;
	width: 150px;
}
