#main-nav .panel-title{ font-weight: normal;}
#main-nav .accordion-header-selected{ background: #f3f3f3; }
#main-nav .accordion-header-selected .panel-title{ font-weight: bold;color: #575765;}
#main-nav .tree-icon { margin-top: 9px; }
#main-nav .tree-hit { margin-top: 4px; }
#main-nav .tree-node { height: 35px; }
#main-nav .tree-title { line-height: 35px; }

/*表单-------begin----------*/
.formTable table {
	width: 100%;
	border-collapse: collapse;
}
.formTable table th,
.formTable table td {
	font-size: 12px;
	text-align: left;
	padding: 5px 10px;
	vertical-align: middle;
	border: 1px solid #fff;
}
.formTable table th {
	background-color: #eee;
	text-align: right;
	font-weight: normal;
	width: 150px;
}

 .bills-table {
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 85%;
        margin-left: 8%;
        box-shadow: 10px 6px 5px rgba(0, 0, 0, 0.2);
        font-size: 13px;
    }

    .bills-head {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        height: 30px;
        font-weight: bold !important;
        font-size: 16px;
        text-align: center;
        padding-top: 15px;
    }

    .main-content-left {
        width: 50%;
        float: left;
    }

    .td-left {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        height: 50px;
        padding-top: 20px;
    }

    .form-label {
        float: left;
        text-align: right;
        width: 28%;
        padding-right: 10px;
        margin-top: 5px;
    }

    .main-content-right {
        width: 50%;
        float: left;
    }

    .td-right {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        height: 50px;
        padding-top: 20px;
    }
.bills-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 240px;
}
/*表单-------end----------*/