@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NodeDataUrl = Url.Action("NodeData");
}

<div class="easyui-panel" style="width: 100%; height: 430px; padding: 10px; ">
    <ul id="tree-organization" class="easyui-tree"></ul>
</div>

@section footer{
    <script src="~/Scripts/plugins/OSky.easyui.tree.js"></script>
    <script type="text/javascript">
        $(function () {
            treeFun();
        })

        function treeFun() {
            $Tree = $("#tree-organization");
            $Tree.tree({
                url: "@ViewBag.NodeDataUrl",
                lines: true,
                animate: true,
                checkbox: true,
                loadFilter:function (data) {
                    var treeData = new TreeHelper(data).dataTransferer();
                    return treeData;
                },
                onLoadSuccess: function (node, data) {
                    $(this).find('span.tree-checkbox').css({"cursor": "not-allowed" }).unbind().click(function () {
                        return false;
                    });
                    $.post("@Url.Action("GetUserRoleMaps")", {}, function (data) { });
                },
                onBeforeExpand: function (node) {
                    
                },
                onClick: function (node) {
                    $(this).tree('toggle', node.target);
                }
            });

        }
</script>
    }
