@{
    ViewBag.Title = "用户信息列表";
    Layout = "~/Areas/Admin/Views/Shared/_DataGridLayout.cshtml";

    ViewBag.GridId = "users";
    ViewBag.ToolbarItem = "add,edit,save,cancel,delete";
    ViewBag.GridDataUrl = Url.Action("GridData");
    ViewBag.NodeDataUrl = Url.Action("NodeData", "Organizations");
    ViewBag.AddUrl = Url.Action("Add");
    ViewBag.EditUrl = Url.Action("Edit");
    ViewBag.DeleteUrl = Url.Action("Delete");
}

@section headHtml{
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west', split:true, minWidth:100, width:250, title:'组织机构'">
        <div class="easyui-panel" style="width: 100%; height: 100%; padding: 10px; ">
            <ul id="tree-organization" class="easyui-tree"></ul>
        </div>
    </div>
    <div data-options="region:'center'">

}
    </div>
</div>

@section paramInit{
    <script type="text/javascript">
        var OrgId;
        addObject = function () {
            return { OrganizationId:OrgId, EmailConfirmed: false, PhoneNumberConfirmed: false, IsLocked: false, IsDeleted: false };
        };
    </script>
}
@section customScript
{
    <script src="~/Scripts/plugins/OSky.easyui.tree.js"></script>
    <script type="text/javascript">
    $(function () {
        treeFun();
    })
    function treeFun() {
        $Tree = $("#tree-organization");
        $Tree.tree({
            url: "@ViewBag.NodeDataUrl",
            lines: true,
            animate: true,
            loadFilter: function (data) {
                var treeData = new TreeHelper(data).dataTransferer();
                return treeData;
            },
            onClick: function (node) {
                OrgId = node.id;
                grid.datagrid('load', {
                    filterRules: [{ field: "OrganizationId", op: "equal", value: OrgId }]
                });
            }
        });


    }


    columns = [[
        { field: "Id", title: "编号", hidden: true },
        { field: "UserName", title: "用户名", width: 150, sortable: true, align: "center", editor: { type: "validatebox", options: { required: true, validType: "length[3,20]" } } },
        { field: "NickName", title: "用户姓名", width: 150, sortable: true, align: "center", editor: { type: "validatebox", options: { required: true, validType: "length[2,20]" } } },
        { field: "Email", title: "邮箱", width: 150, align: "center", editor: { type: "validatebox", options: { validType: "length[6,20]" } } },
        { field: "PhoneNumber", title: "手机号码", width: 150, align: "center", editor: { type: "validatebox", options: { validType: "length[11,50]" } } },
        { field: "IsLocked", title: "已锁定", width: 80, align: "center", formatter: formatBoolean, editor: { type: "combobox", options: { required: true, editable: false, data: $.OSky.data.bool, valueField: "id" } } },
        { field: "CreatedTime", title: "创建时间", width: 150, align: "center", sortable: true, formatter: function (value) { return $.OSky.tools.formatDate(value); } },
    ]];

    startfunction = function () {
        //设置角色
        function setRoles() {
            var row = grid.datagrid("getSelected");
            if (!row) {
                $.OSky.layer.msg.tip("请选择要编辑的行。");
                return;
            }
            $.OSky.layer.msg.open(2, "/Admin/Users/SetRole?Id=" + row.Id, true,
                function (index, layero) {

                });
        }

        toolbarData.push({ text: "设置角色", iconCls: "pic_198", handler: setRoles });
    };
    </script>
}
