@{
    ViewBag.Title = "流程列表";
    Layout = "~/Areas/Admin/Views/Shared/_DataGridLayout.cshtml";

    ViewBag.GridId = "flowForm";
    ViewBag.GridDataUrl = Url.Action("GridData");
    ViewBag.ToolbarItem = "edit,save,cancel";
}
@section customScript
{
    <script type="text/javascript">
        columns = [[
            { field: "Id", title: "编号", hidden: true },
            { field: "EntityId", title: "实体编号", hidden: true },
            { field: "FlowItemId", title: "项目编号", hidden: true },
            { field: "FlowDesignId", title: "流程编号", hidden: true },
            { field: "EntityName", title: "事项名称", width: 150, sortable: true, halign: "center", align: "center" },
            { field: "StepName", title: "步骤名称", width: 120, sortable: true, halign: "center", align: "center" },
            { field: "SenderName", title: "发送人", width: 120, sortable: true, halign: "center", align: "center" },
            { field: "CreatedTime", title: "发送时间", width: 150, sortable: true, halign: "center", align: "center", formatter: function (value) { return $.OSky.tools.formatDate(value); } },
            { field: "Status", title: "状态", width: 100, halign: "center", align: "center", sortable: true, formatter: formatStatus },
            { field: "StepDay", title: "时限(天)", width: 80, sortable: true, halign: "center", align: "center" },
            {
                field: "DelayDay", title: "延期(天)", width: 80, sortable: true, halign: "center", align: "center",
                editor: { required: true, type: "numberbox", options: { precision: 0 } }
            },
            {
                field: "DelayReason", title: "延期事由", width: 250, halign: "center", align: "center",
                editor: { type: "validatebox", options: { required: true, validType: "length[1,200]" } }
            }
        ]];

        startfunction = function () {
            //设置流程
            function OptionFlow() {
                var row = grid.datagrid("getSelected");
                if (!row) {
                    $.OSky.layer.msg.tip("请选择要编辑的行。");
                    return;
                }
                document.location.href = "/Admin/Schedule/FlowHandle?TaskId=" + row.Id + "&ItemId=" + row.FlowItemId + "&FlowId=" + row.FlowDesignId + "&EntityId=" + row.EntityId;
            }
            toolbarData.push({ text: "办理", iconCls: "pic_261", handler: OptionFlow });


        };

        //格式化数据
        function formatStatus(value) {
            switch (value) {
                case 1: return "待处理";
                case 2: return "已打开";
                case 10: return "正常办结";
                case 20: return "已退回";
                case 30: return "他人处理";
                case 40: return "他人退回";
                case 50: return "其他";
                default:

            }
        }

    </script>
}

@section footHtml
{
    <form id="formQuery">
        <table class="query-table" id="advance">
            <tr style="display:none;">
                <th>searchKey</th>
                <td><input type="hidden" name="key" id="key" /></td>
            </tr>
            <tr>
                <th>步骤名称</th>
                <td><input type="text" name="Name" class="easyui-validatebox textbox" style="width:200px" /></td>
            </tr>
            <tr>
                <th>发送人</th>
                <td><input type="text" name="userName" class="easyui-validatebox textbox" style="width:200px" /></td>
            </tr>
            <tr>
                <th>发送时间</th>
                <td><input type="text" name="sendeDate" class="easyui-validatebox textbox" style="width:200px" /></td>
            </tr>
            <tr>
                <th>状态</th>
                <td><input type="text" name="status" class="easyui-validatebox textbox" style="width:200px" /></td>
            </tr>
        </table>
    </form>
}
