@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.NodeDataUrl = Url.Action("NodeData");
    var ids = Request["Ids"];
}

<div class="easyui-panel" style="width: 100%; height: 430px; padding: 10px; ">
    <ul id="tree-organization" class="easyui-tree"></ul>
</div>

@section footer{
    <script src="~/Scripts/plugins/OSky.easyui.tree.js"></script>
    <script type="text/javascript">
    $(function () {
        treeFun();
    })

    var checkedNotes;
    function treeFun() {
        var $Tree = $("#tree-organization");
        $Tree.tree({
            url: "@ViewBag.NodeDataUrl",
            lines: true,
            animate: true,
            checkbox: true,
            loadFilter: function (data) {
                var treeData = new TreeHelper(data).dataTransferer();
                return treeData;
            },
            onLoadSuccess: function (node, data) {
                $.each(data, function (i, item) {
                    GetSelectedChildrenNote(item);
                })

            },
            onBeforeExpand: function (node) {

            },
            onClick: function (node) {
                $(this).tree('toggle', node.target);
            },
            onCheck: function (node, checked) {
                node.Checked = checked;
                checkedNotes = $(this).tree('getChecked');
            }
        });

    }

    //递归节点算法
    function GetSelectedChildrenNote(data) {
        if (data.Type != "1") {
            if (data.children != null)   //判断是否存在子节点
                for (var i = 0; i < data.children.length; i++)
                    GetSelectedChildrenNote(data.children[i]);
        }
        var ids='@ids';
        if (data.Type == "1" && (ids + ",").indexOf(data.id + ",") > -1) {
            data.checked=true;
            data.Checked=true;
        }
        if (data.checked == true)
            $("#" + data.domId).find('span.tree-checkbox').attr("class","tree-checkbox tree-checkbox1");
    }

    //获取选中的节点
    var getCheckedNodes=function (){
        var nodes = $.Enumerable.From(checkedNotes).Where(function (m) { return m.Type == 1 && m.Checked == true })
            .Select(function (m) { return {Id:m.id,Name:m.text};}).ToArray();
        return nodes;
    }

    </script>
}
