@model OSky.UI.Dtos.Identity.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/style/adminLoginStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/OSky.layer.js"></script>
</head>
<body style="background: url(/Content/style/img/body_bg.jpg) no-repeat center center; ">
@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="container">
        <!--内容 -->
        <div class="loginBox">
            <div class="login clearfix">
                <h2>
                    <img src="/Content/style/img/h2_img.gif" width="355" height="38" alt="" />
                </h2>
                <ul class="loginUl">
                    <li class="name">
                        <input type="text" placeholder="请输入用户名" name="LoginName" value="@Model.LoginName" onkeypress="if (event.keyCode == 13) {$('#btnLogin').click();return false;}" />
                    </li>
                    <li class="password">
                        <input type="password" placeholder="请输入密码" name="LoginPwd" onkeypress="if (event.keyCode == 13) {$('#btnLogin').click();return false;}" />
                    </li>
                    <li class="code">
                        <input type="text" placeholder="请输入验证码" name="CheckCode" onkeypress="if (event.keyCode == 13) {$('#btnLogin').click();return false;}" />
                        <img id="codeImg" width="80" height="34" alt="验证码" src="/Admin/Login/ValidateCode" onclick="this.src = '/Admin/Login/ValidateCode?guid=' + new Date().getTime();" />
                    </li>
                    <li>
                        <input type="image" id="btnLogin" src="/Content/style/img/btn.gif" name="" value="登录" class="btn" />
                        <a href="javascript:void(0)" onclick="javascript: alert('请拨打电话0731-88888888');">忘记密码</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--内容 -->
        <input type="hidden" id="hdErrors" value="@ViewBag.ErrorsMessage" />
    </div>
}
    <script type="text/javascript">
       
        $(function () {
            loadTopWindow();   
            if ($('#hdErrors').val() != "") {
                $.OSky.layer.msg.tip($('#hdErrors').val());
            }

            //登录事件
            $("#btnLogin").click(function () {
                document.getElementById("btnLogin").disabled = true;
                $("#btnLogin").attr("src", "/Content/style/img/btn01.gif");
                if ($("input[name='loginName']").val() == "") {
                    $.OSky.layer.msg.tip('请填写登录名!');
                    $("input[name='loginName']").focus();
                    document.getElementById("btnLogin").disabled = false;
                    $("#btnLogin").attr("src", "/Content/style/img/btn.gif");
                    return false;
                } else if ($("input[name='LoginPwd']").val() == "") {
                    $.OSky.layer.msg.tip('请填写密码!');
                    $("input[name='LoginPwd']").focus();
                    document.getElementById("btnLogin").disabled = false;
                    $("#btnLogin").attr("src", "/Content/style/img/btn.gif");
                    return false;
                } else if ($("input[name='CheckCode']").val() == "") {
                    $.OSky.layer.msg.tip('请填写验证码!');
                    $("input[name='CheckCode']").focus();
                    document.getElementById("btnLogin").disabled = false;
                    $("#btnLogin").attr("src", "/Content/style/img/btn.gif");
                    return false;
                } else {
                    $("form").submit();
                }
            });
        });

        //判断当前窗口是否有顶级窗口
        function loadTopWindow() {
            if (window.top != null && window.top.document.URL != document.URL) {
                window.top.location = document.URL;
            }
        }

    </script>
</body>
</html>
